<div class="table-header-grey" style="text-align:left;">
 <i class="icon-exchange  icon-large text-left space"></i> Datos Garantía a Regularizar
</div>
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="table table-bordered table-condensed  grey">
    <tr >
        <th width="20%" style=" background-color: whitesmoke ">Medios de Pago:</th>
        <td  width="30%">
            <span  id="garantiaspan" ></span>
        </td>
        <th width="20%" style=" background-color: whitesmoke ">Fecha Generada:</th>
        <td width="30%">
            <span  id="fechaspan" ></span>
        </td>
    </tr>
    <tr >
        <th width="20%" style=" background-color: whitesmoke "> Usuario: </th>
        <td  width="30%">
            <span  id="usuariospan" ></span>
        </td>
        <th width="20%" style=" background-color: whitesmoke ">Monto de la Garantía:</th>
        <td width="30%">
            <span  id="algospan" ></span>
        </td>
    </tr>
</table>

