<div class=" ">
    {% include 'RecaudacionBundle:InformacionHistoricaPaciente:_listadoPagosPaciente.html.twig' %}
    {% include 'RecaudacionBundle:InformacionHistoricaPaciente:_listadoGarantiasPaciente.html.twig' %}
    {% include 'RecaudacionBundle:InformacionHistoricaPaciente:_listadoSolicitudesImgLabPaciente.html.twig' %}
    {% include 'RecaudacionBundle:InformacionHistoricaPaciente:_listadoReservasPendientesPaciente.html.twig' %}
    {% include 'RecaudacionBundle:InformacionHistoricaPaciente:_listadoTratamientosPaciente.html.twig' %}
</div>

    {% include 'RecaudacionBundle:PrestadorPaciente:_styleFormularioPrestacionPaciente.html.twig' %}
    {% include 'RecaudacionBundle:PrestadorPaciente:_formularioPrestacionPaciente.html.twig' %}
<div class="hide datosTratamiento">
    {% include 'RecaudacionBundle:TratamientoPaciente:_formularioCrearTratamientoPaciente.html.twig' %}
</div>
    {% include 'RecaudacionBundle:TratamientoPaciente:_formularioAgregarItemsTratamientoPaciente.html.twig' %}
    {% include 'RecaudacionBundle:TratamientoPaciente:_formularioProfesionalTratamientoPaciente.html.twig' %}
    {% include 'RecaudacionBundle:TratamientoPaciente:_tablaResultadosAgregarItemsTratamientoPaciente.html.twig' %}