{% extends 'RecaudacionBundle:Supervisor:layoutMenu.html.twig' %}
{% block breadcrumbs %}
<div id="breadcrumbs" class="navbar-fixed-top">
	<ul class="breadcrumb">
		<li>
			<i class="icon-home"></i> <a href="{{ path('Dashboard_home') }}">Home</a>
			<span class="divider">
				<i class="icon-angle-right"></i>
			</span>
		</li>
		<li>
			<a href="{{ path('recaudacion_index') }}">Módulo Caja</a>
			<span class="divider">
				<i class="icon-angle-right"></i>
			</span>
		</li>
		{% block Caja %}
		{#Miguita de Pan#}
		<li class="active">Supervisor</li>
		{#Fin de la Miguita#}
		{% endblock %}
	</ul>
</div>
{% endblock %}


