{% extends 'mantenedores/index.html.twig' %}

{% block mantenedor_title %}Mantenedores Básicos{% endblock %}

{% block mantenedor_content %}
<p>Seleccione un mantenedor en la columna de la izquierda.</p>
{% endblock %}
