<div class="clearfix " > </div>
<div class="table-header-grey color-blue-head" style="text-align:left;">
    <i class="icon-usd"></i>&nbsp;Resguardo Financiero
</div>
<div id="insertar-resguardo-financiero">  </div>
<div class="clearfix " > </div>