<div class="hide datosTratamiento"> {# COMENTADO PARA REALIZAR SKELETON - DESCOMENTAR PARA REALIZAR EL NEGOCIO DE LA VISTA #}
    <div class="btn-group pull-right  ">
        <button id="btn-editTratamiento"  class="btn btn-success btn-editTratamiento hide" type="button">
            <i class="icon-save"></i>Modificar Tratamiento
        </button>
        <button id="btn-crearTratamiento"  class="btn btn-success btn-crearTratamiento" type="button">
            <i class="icon-save"></i>Guardar Tratamiento
        </button>
        <button id="btn-cancelarTratamiento" class="btn btn-cancelarTratamiento" type="button">
            <i class='icon-arrow-left'></i> Cancelar Tratamiento
        </button>
        <button id="btn-cancelar_desdeTratamiento" class="btn btn-cancelarTratamiento" type="button">
            <i class='icon-arrow-left'></i> Cancelar
        </button>
    </div>
</div>
<div class="clearfix " ></div>
