<div>
    <div id="divPrestacionBuscar" class="hide">
        <div id="resultadoPrestacionBuscar">
        </div>
    </div>
    <div id="divInsumoBuscar" class="hide">
        <div id="resultadoInsumoBuscar">
        </div>
    </div>
    <div id="divPaqueteBuscar" class="hide">
        <div id="resultadoPaqueteBuscar">
        </div>
    </div>
</div>
