{% set claseForm = 'class_' ~ listadoMediosPago.id %}
  <table width="100%" class="table-bordered table-condensed">
    <tr>
      <td width="30%"> Folio </td>
      <td width="70%">
       {% set nombreCampoFolio = 'folio_' ~ listadoMediosPago.id %}
         {{ form_widget(mediospago_form[nombreCampoFolio], {'attr': {'class': 'Input_num obligatorioConsolidado ' ~ claseForm ,  'onkeyup':'javascript:SumaSaldoVsMediosPago()'}} ) }}
       </td>
     </tr>
     <tr>
      <td width="30%"> Monto </td>
      <td width="70%">
       {% set nombreCampoMonto = 'monto_' ~ listadoMediosPago.id %}
         {{ form_widget(mediospago_form[nombreCampoMonto], {'attr': {'class': 'saldoMedio Input_num readOnlyConsolidado ' ~ claseForm , 'MaxLength': 8,  'onkeyup':'javascript:SumaSaldoVsMediosPago()'}} ) }}
       </td>
     </tr>
      {% if desdeAdmision is defined and desdeAdmision %}
          {% set nombreCampoNumeroGarantia = 'folioGarantia_' ~ listadoMediosPago.id %}
          {{ form_widget(mediospago_form[nombreCampoNumeroGarantia] ) }}
      {% endif %}
   </table>
