    <div class="table-header header-color-grey " style="text-align:left;">
        <span class="white"><b> Listado Prestaciones</b></span>
    </div>
    <table id="table_prestaciones" class="table table-striped table-bordered table-hover">
        <thead>
            <th> Código </th>
            <th> Nombre </th>
        </thead>
        <tbody>
            {% for oPrestacion in oPrestaciones %}
                <tr class="seleccionarPaquetePrestacion" data-id="{{ oPrestacion.idPaquetePrestacion }}">
                    <td>{{ oPrestacion.codigoAccionClinica }}</td>
                    <td>{{ oPrestacion.nombreAccionClinica }}</td>
                </tr>
                {% set countPrestaciones = oPrestaciones|length%}
                {% if countPrestaciones == 1%}
            {% endif %}
            {% if countPrestaciones == 2%}
        {% endif %}
        {% if countPrestaciones == 3%}
    {% endif %}
    {% else %}
    <tr>
        <td colspan="2" >No se encontraron resultados</td>
    </tr>
    <style> #divPrestacionBuscar{ height: 115px; } </style>
{% endfor %}
</tbody>
</table>
<style> #divPrestacionBuscar{ height: auto; } .seleccionarPaquetePrestacion{ cursor: pointer;} </style>
<script type="text/javascript">

    $('.seleccionarPaquetePrestacion').on('click', function () {
        var idPaquetePrestacion = $(this).data('id');
        var plan = $("#rebsol_hermesbundle_PrestacionType_plan").val();
        var data = {
            idPaquetePrestacion: idPaquetePrestacion,
            id: idPaquetePrestacion,
            plan: plan
        };
        $.ajax({
            type: 'get',
            url: "{{ path('Caja_getPrestacion') }}",
            data: data,
            async: false,
            success: function(data) {
                var data = $.parseJSON(data);
                var showForm = data.showFormRisLis;
                if(showForm == true) {
                    $('#formRisLis').css('display', 'block');
                }
                var arr = data.arrayPrestaciones;
                
                arr.forEach(element => {

                    if(element.idPaquetePrestacion) {
                        var tr = $("<tr data-show-rislis="+showForm+" data-id-paqueteprestacion="+ element.idPaquetePrestacion +" id='prestacion_" + element.id + "' name='" + element.id + "'></tr>");
                    } else {
                        var tr = $("<tr data-show-rislis="+showForm+" id='prestacion_" + element.id + "' name='" + element.id + "'></tr>");
                    }
                    
                    var td = $("<td id='codigoItem_" + element.id + "' class='codigo'>" + element.codigo + "-" + element.codigoFonasa + "</td>");
                    tr.append(td);

                    if (element.pabellon !== 0) {
                        var td = $("<td class='pabellon'>" + element.pabellon + "</td>");
                    } else {
                        var td = $("<td class='pabellon'><span class='label label-light'>No Aplica</span></td>");
                    }
                    tr.append(td);

                    var td = $("<td id='nombreItem_" + element.id + "' class='nombre'>" + element.nombre + "</td>");
                    tr.append(td);

                    var td = $("<td id='td" + element.id  + "' class='cantidad'><div id='div" + element.id  + "'><div class='ace-spinner'><div class='input-append btn-group btn-group-vertical'><input type='text' class='" + idPaquetePrestacion + " input-mini spinner-input cambioCantidad cantidadLista" + element.id + "'' id='" + idPaquetePrestacion + "'maxlength='3' style='width: 30px;' value=1></div></div></div><div align='right' class='spanResumen hide'><span id='spanResumen" + idPaquetePrestacion + "' class='hide spanResumen'></span></div></td>");
                    tr.append(td);

                    var precioItem = addCommas(element.precio);

                    var td = $("<td class='precio'><div align='right'><span>$</span><span id='precio" + element.id + "'>" + precioItem + "</span><span id='tipoDoc" + element.id + "' class='hide'>1</span></div></td>");
                    tr.append(td);

                    var td = $("<td class='preciocantidad'><div align='right'><b><span>$</span><span id='sumaCantidad" + idPaquetePrestacion + "'' class='sumaCantidad'>" + precioItem + "</span></b></div></td>");
                    tr.append(td);

                    var td = $("<td ></td>");

                    var input = $("<input type='hidden' id='rebsol_hermesbundle_PrestacionType_prestaciones_" + element.id + "' name='rebsol_hermesbundle_PrestacionType[prestaciones][" + element.id + "]' value='" + element.id + "' class='removePrestacion'>");

                    if(element.idPaquetePrestacion) {
                        if(element.id == element.idPaquetePrestacion) {
                            var ahref = $("<a data-id-paqueteprestacion="+ element.idPaquetePrestacion +" data-id='" + element.id + "' class='btn btn-app btn-danger btn-mini removePrestacion' onClick='eliminarPrestacion(this)'><i class='icon-trash'></i></a>");
                        }
                    } else {
                        var ahref = $("<a data-id='" + element.id + "' class='btn btn-app btn-danger btn-mini removePrestacion' onClick='eliminarPrestacion(this)'><i class='icon-trash'></i></a>");
                    }

                    td.append(input);
                    td.append(ahref);
                    tr.append(td);

                    $('#prestacionesTable').append(tr);

                    if ($('#trDiferencia').length >= 1) {
                        if ($('#trDiferencia').is(':visible')) {
                            $('#trDiferencia').empty();
                            $('#prestacionesTable').find('#trDiferencia').remove();
                        } else {
                            $('#trDiferencia').empty();
                            $('#prestacionesTable').find('#trDiferencia').remove();
                            var trDiferencia = $("<tr id='trDiferencia' style='text-align:right; background-color: #F2F5A9' class='hidden hide'></tr>");
                            var td = $("<td colspan='5' style='text-align:right;' ><span><b>Diferencia Aplicada:</b></span></td>");
                            trDiferencia.append(td);
                            var td = $("<td style=' font-size: medium; padding:0 0 0 0;' ><div align='right'><b><span>$</span><span id='diferenciaTotal'></span></b></div></td>");
                            trDiferencia.append(td);
                            var td = $("<td ></td>");
                            var ahref = $("<a id='anularDiferencia' class='btn btn-app btn-danger btn-mini removePrestacion' onClick='anularDiferencia()'><i class='icon-trash'></i></a>");
                            trDiferencia.append(td);
                            td.append(ahref);
                            $('#prestacionesTable').append(trDiferencia);
                        }
                    } else {
                        var trDiferencia = $("<tr id='trDiferencia' style='text-align:right; background-color: #F2F5A9' class='hidden hide'></tr>");
                        var td = $("<td colspan='5' style='text-align:right;' ><span><b>Diferencia Aplicada:</b></span></td>");
                        trDiferencia.append(td);
                        var td = $("<td style=' font-size: medium; padding:0 0 0 0;' ><div align='right'><b><span>$</span><span id='diferenciaTotal'></span></b></div></td>");
                        trDiferencia.append(td);
                        var td = $("<td ></td>");
                        var ahref = $("<a id='anularDiferencia' class='btn btn-app btn-danger btn-mini removePrestacion' onClick='anularDiferencia()'><i class='icon-trash'></i></a>");
                        trDiferencia.append(td);
                        td.append(ahref);
                        $('#prestacionesTable').append(trDiferencia);
                    }

                    if ($('#prestacionesTable').find('#total').length == 0) {
                        var trtotal = $("<tr id='total' style='text-align:right; background-color: whitesmoke'></tr>");
                        var td = $("<td colspan='5' style='text-align:right;' ><span><b>Total Cuenta:</b></span></td>");
                        trtotal.append(td);
                        var td = $("<td colspan='2' style=' font-size: medium; padding:0 45px 0 0;' ><div align='right'><b><span>$</span><span id='sumaTotal'></span></b></div></td>");
                        trtotal.append(td);
                        $('#prestacionesTable').append(trtotal);
                        //captura el Input si cambia, toma su id, del id su valor en TEXT y lo envia a funcion para Multiplicar su valor

                        SumarColumna();

                    } else {
                        $('#total').empty();
                        $('#prestacionesTable').find('#total').remove();
                        var trtotal = $("<tr id='total' style='text-align:right; background-color: whitesmoke'></tr>");
                        var td = $("<td colspan='5' style='text-align:right;' ><span><b>Total Cuenta:</b></span></td>");
                        trtotal.append(td);
                        var td = $("<td colspan='2' style=' font-size: medium; padding:0 45px 0 0;' ><div align='right'><b><span>$</span><span id='sumaTotal'></span></b></div></td>");
                        trtotal.append(td);
                        $('#prestacionesTable').append(trtotal);
                        SumarColumna();
                    }

                    $('#prestaciones').show();
                    if (tratamiento == 0) {
                        $('.btn-pre-pagar').show();
                    }
                })    
            }
        });
        $('.removePrestacion').css('zoom', '0.75');

        $('#resultadoPrestacionBuscar').html('');
        $('#divPrestacionBuscar').hide();
        $('#inputPaquetePrestacionBuscar').val('');
        $("." + idPaquetePrestacion).ace_spinner({
            value: 1,
            min: 1,
            max: 1000,
            step: 1,
            icon_up: 'icon-plus',
            icon_down: 'icon-minus',
            btn_up_class: "btn-success sumarestaCantidad up" + idPaquetePrestacion + "",
            btn_down_class: "btn-danger sumarestaCantidad down" + idPaquetePrestacion + ""
        });
        obtienevalorCantidad();

        {# agregarPrestacion($(this).data('id'));   #}
    });
</script>
