<div class="clearfix " > </div>
<div class="table-header-grey color-blue-head" style="text-align:left;">
    <i class="icon-usd"></i>&nbsp;Servicio Paquetizado
</div>
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="table table-bordered table-condensed  grey">
    <tbody>
    <tr>
        <th width="25%" style=" background-color: whitesmoke "> Paquete: </th>
        <td width="25%">
            <span id="agregar-paquete"></span>
        </td>
        <th width="25%" style=" background-color: whitesmoke "> Monto del Paquete: </th>
        <td width="25%">
				<span id="agregar-monto-paquete">
					{{ obtenerMonto(0) }}
				</span>
        </td>
    </tr>
    </tbody>
</table>