<div id="prestaciones" class="hide">
    <div class="table-header-grey color-blue-head" style="text-align:left;">
        <i class="icon-align-justify  icon-large text-left space"> </i> Listado Servicios Pago<b><span id="tituloTratamientoListadoServicio"></span></b>
        <div id="btneditListaPrestacionesDiv" class="btn-group pull-right  btn-edit-lista-prestaciones hide">
            <button title="Editar" id="btneditListaPrestaciones" class="btn btn-small btn-warning  btn-edit-lista-prestaciones  hide ocultarDiv" type="button"><i class='icon-edit icon-large'></i>Editar</button>
        </div>
    </div>
    <input type="hidden" id="idPrePagoCuenta" value="">
    <table id='tablePrestacionHeader' class='table table-bordered table-condensed table-hover'>
        <thead>
        <th>Código</th>
        <th>Pabellón</th>
        <th>Nombre</th>
        <th>Cantidad</th>
        <th>Valor</th>
        <th>Total</th>
        <th width="30"></th>
        </thead>
        <tbody id="prestacionesTable">
        </tbody>
    </table>
</div>